.liti-button {
  outline: none;
  border: none;
  color: white;
  padding: 0.3rem 0.4rem;
  border-radius: 0.2rem;
  cursor: pointer;
  background: linear-gradient(#3de5fb, #26acbd);
  text-shadow: 0 1px 1px grey;
  height: 2rem;
  /*位置的三个参数
          1  X轴方向扩散，负值在左，正值在右
          2 Y轴方向扩散，正值向下，负值向上
          3 模糊半径   0时不模糊，就正常的阴影，越大越模糊 类似0实体阴影，数值大的变成了模糊阴影
          4，颜色可放在这三个数字前面，也可以放在这三个数字后面，这四个参数为一组，可以设置多组。
          */
  box-shadow: 0 0.2rem 0 #068494, 0 0.2rem 0.2rem grey;
}
.liti-button:active {
  box-shadow: 0 0.1rem 0 #068494, 0 0.1rem 0.1rem grey;
  transform: translate(0, 0.05rem);
}
//定位上下左右居中
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
